<header class="main-header">
    <nav>
        <a href="{{ path('app_index') }}" class="logo">
            <img src="{{ asset('assets/icons/person-team.svg') }}" alt="Logo aplikace">
            <span class="logo-text">Evza</span>
        </a>
        <button class="menu-toggle button" id="menuToggle">☰</button>
        <div class="header-right" id="headerMenu">
            <a href="{{ path('app_employee_create') }}" class="button">Přidat nového zaměstnance</a>
            <a href="#" class="login-link button">Přihlášení</a>
        </div>
    </nav>
</header>