<form action="{{ path('app_employee_search') }}" method="get" class="form">
    <label for="employee-search" id="employee-search-label">Jméno zaměstnance</label>
    <input type="text" placeholder="Vyhledej zaměstnance..." id="employee-search" class="input-field" name="query" value="{% if queryTerm %}{{ queryTerm }}{% endif %}"><br>
    <input type="submit" value="Hledat" class="button">
</form>