.employee-list-img__container {
  position: relative;
  overflow: hidden;
  display: none;
}

#employee-list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
  margin: 1.5rem 0;
}

.employee-list-info * {
  line-height: 1.45rem;
}

.employee-list-info dl .employee-list-position {
  padding-left: 10px;
}
