{% extends 'base.html.twig' %}

{% block title %}EVZA - detail - Ivan Němý{% endblock %}

{% block body %}
    {% include 'components/header.html.twig' %}

    <main>
        <h1>Ivan Němý</h1>
        <article class="employee-detail-container">
            <section>
                <div class="detail-img__container">
                    <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg" width="100px"
                        alt="Profilová fotka Ivana Němého" />
                </div>
            </section>
            <article class="employee-detail-info">
                <section>
                    <h2>Funkce:</h2>
                    <ol class="general-list">
                        <li>Generální ředitel Acme</li>
                        <li>Vizionář</li>
                    </ol>
                </section>
                <section>
                    <h2>Kontaktní údaje:</h2>
                    <dl class="dl-with-icons">
                        <dt>Telefon: </dt>
                        <dd><a href="tel:+420777777777" class="phone">+420 777 777 777</a></dd>
                        <dt>E-mail: </dt>
                        <dd><a href="mailto:ivan.nemy@acme.com" class="email">ivan.nemy@acme.com</a></dd>
                    </dl>
                </section>
                <section>
                    <h2>Poznámka</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid labore culpa placeat neque
                        nulla
                        tempore
                        dignissimos ea tenetur officiis sunt.</p>
                </section>
                <section>
                    <a href="{{ path('app_user_detail_accounts', {id: 1}) }}" class="button">Zobrazit účty zaměstnance</a>
                </section>
            </article>
        </article>
    </main>

    {% include 'components/footer.html.twig' %}
{% endblock %}