{% extends 'base.html.twig' %}

{% block title %}EVZA - detail účtů - Ivan Němý{% endblock %}

{% block body %}
    {% include 'components/header.html.twig' %}

    <main>
        <h1>Detail účtů zaměstance - <strong class="bold-text">Ivan Němý</strong></h1>
        <a href="{{ path('app_employee_detail', {id: 1}) }}" class="button detail-account-button">Zpět na detail zaměstance</a>
        <ul class="account-list">
            <li>
                <h3>Účet v systému EVZA</h3>
                <dl>
                    <dt>Typ účtu:</dt>
                    <dd>Systémový</dd>
                    <dt>Expirace:</dt>
                    <dd>Bez expirace</dd>
                </dl>
            </li>
            <li>
                <h3>Google Drive - Acme</h3>
                <dl>
                    <dt>Typ účtu:</dt>
                    <dd>Systémový</dd>
                    <dt>Expirace:</dt>
                    <dd><time datetime="2025-07-08">8. července 2025</time></dd>
                </dl>
            </li>
            <li>
                <h3>Přístupová karta do kanceláře</h3>
                <dl>
                    <dt>Typ účtu:</dt>
                    <dd>Systémový</dd>
                    <dt>Expirace:</dt>
                    <dd><time datetime="2025-02-12">12. února 2024</time></dd>
                </dl>
            </li>
        </ul>
    </main>

    {% include 'components/footer.html.twig' %}
{% endblock %}