<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style/general.css">
    <link rel="icon" href="assets/icons/person-team.svg" type="image/svg+xml">
    <title>EVZA - chyba</title>
</head>

<body>
    <header class="main-header">
        <nav>
            <a href="index.html.twig" class="logo">
                <img src="assets/icons/person-team.svg" alt="Logo aplikace">
                <span class="logo-text">EVZA</span>
            </a>
            <a href="#" class="login-link button">Přihlášení</a>
        </nav>
    </header>
    <main>
        <h1>Je nám to líto, ale vyskytla se chyba</h1>
        <h2>Popis chyby</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta nihil nostrum, debitis corporis eos error,
            quae, maiores molestiae harum eaque iure explicabo? Nam autem ut ducimus magnam voluptas nulla quos facere
            libero cum laudantium veritatis, minima doloribus. Nisi debitis quaerat amet, vitae et placeat, suscipit
            ipsum neque, sunt sequi adipisci.</p>
        <nav class="button-under-text">
            <a href="index.html.twig" class="button">Vrátit se na hlavní stránku</a>
        </nav>
    </main>
    <footer>
        <section class="copyright-info">
            Copyright &copy; Petr Kudrnovský (kudrnpe3) BI-TWA, ČVUT FIT <time datetime="2023">2023</time>
        </section>
    </footer>
</body>

</html>